templates/index.html
templates/index1.html
templates/mask.html
bot_response.mp3
venv
.env
app.py
app1.py
audio.json
audio.mp3
audio.srt
audio.tsv
audio.txt
audio.vtt
audiosss.json
audiosss.mp3
chat_audio.mp3
king.json
king.mp3
king.srt
king.tsv
king.txt
king.vtt
new.py 
pm.mp3
pm.srt
pm.json 
pm.tsv
pm.vtt
pm.txt
uploaded_audio.json
uploaded_audio.mp3
uploaded_audio.srt
uploaded_audio.tsv
uploaded_audio.txt
uploaded_audio.vtt
uploaded_audio1.json
uploaded_audio1.mp3
uploaded_audio1.srt
uploaded_audio1.tsv
uploaded_audio1.txt
uploaded_audio1.vtt
uploaded_audio2.json
uploaded_audio2.mp3
uploaded_audio2.srt
uploaded_audio2.tsv
uploaded_audio2.txt
uploaded_audio2.vtt
urdu.json
urdu.mp3
urdu.srt
urdu.tsv
urdu.txt
urdu.vtt
urdu1.json
urdu1.mp3
urdu1.srt
urdu1.tsv
urdu1.txt
urdu1.vtt
zia.json
zia.mp3
zia.srt
zia.tsv
zia.txt
zia.vtt
