<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/static/index.css" rel="stylesheet" />
    <title>BaatGPT Audio Chatbot</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">BaatGPT Audio Chatbot</h1>
      <div class="mt-4 d-flex align-items-center">
        <button id="record-btn" class="btn btn-primary mr-2">Record</button>
        <button id="stop-btn" class="btn btn-danger mr-2" disabled>Stop</button>
        <audio id="audio-playback" controls class="ml-2" hidden></audio>
      </div>
      <div class="conversation mt-4">
        <!-- Messages will be displayed here -->
      </div>
      <div class="footer">
        <p>Developed at <strong>HPC Lab SEECS </strong></p>
        <p>
          This is the alpha version of this software. For any issue report
          <a href="www.drive.google.com" target="_blank"> here </a>
        </p>
      </div>
    </div>
    <script src="/static/index.js"></script>
  </body>
</html>
